---
import ReviewLayout from '../../layouts/ReviewLayout.astro';
---

<ReviewLayout
title="Elementor Review"
description="Elementor is one of the most popular WordPress page builders."
product="Elementor"
rating="9"
/>

<h2>Pros</h2>

<ul>
<li>Easy drag and drop builder</li>
<li>Large template library</li>
<li>Works with most WordPress themes</li>
</ul>

<h2>Cons</h2>

<ul>
<li>Free version has limited widgets</li>
<li>Can slow down poorly optimized sites</li>
</ul>